.footer {
  background: linear-gradient(120deg, #16141c, #09080b);
  color: #ffffff;
  padding: 3rem 0;
  font-family: 'Gilroy', sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.topSection {
  /* display: flex; */
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.logoSection {
  flex: 1;
  min-width: 200px;
  margin-bottom: 1rem;
}

.logoSection h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.linksSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.linksSection a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.linksSection a:hover {
  color: var(--salmon-orange);
}

.offeringsSection {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.offeringsLink {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--salmon-orange);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.offeringsLink:hover {
  transform: translateY(-3px);
}

.middleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.socialSection {
  flex: 1;
  min-width: 200px;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.socialIcons a {
  color: #ffffff;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: var(--salmon-orange);
}

.newsletterSection {
  flex: 2;
  min-width: 300px;
}

.subscribeForm {
  display: flex;
  margin-top: 0.5rem;
}

.subscribeForm input {
  flex: 1;
  padding: 1rem;
  border: none;
  border-radius: 5px 0 0 5px;
}

.subscribeForm button {
  padding: 0.5rem 1rem;
  background: var(--salmon-orange);
  color: #ffffff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeForm button:hover {
  background: linear-gradient(to right, rgb(255, 65, 65), rgb(255, 127, 34));
}

@media (max-width: 768px) {
  .topSection, .middleSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .linksSection {
    justify-content: center;
    margin-top: 1rem;
  }

  .socialSection, .newsletterSection {
    width: 100%;
  }
}
